@import '../variables';

.BetBadge {
  min-width: 40px;
  background-color: $transparent-dark-1;
  color: $blue-1;
  font-size: 14px;
  padding: 2px 10px;
  margin-left: 5px;
  border-radius: 5px;

  &[data-color="red"] {
    color: white;
    background-color: $red-1;
  }
  &[data-color="green"] {
    color: white;
    background-color: $green-1;
  }
  &[data-color="black"] {
    color: white;
    background-color: black;
  }
}