@import '../variables';

.BetFormDialog {
  min-width: 400px;

  &__amount-power {
    color: $gray-3;
    font-size: 20px;
  }

  &__expected-win {
    font-weight: 500;
    font-size: 14px;
    color: $gray-1;
    padding: 10px;

    &-amount {
      margin-left: 5px;
      color: $green-2;
      font-size: 16px;
    }
  }

  &__place-bet-button {
    margin-top: 15px;
  }

  &__bet-info {
    margin-bottom: 20px;
    font-size: 13px;

    &__description {
      display: inline-block;
    }

    &__multiplier {
      display: inline-block;
      color:$gray-3;
      font-size: 11px;
      margin-left: 6px;
    }
  }
}