@import '../variables';

.BetLayout {
  position: relative;
  padding-top: 17.5px;

  &--payouts {
    img {
      filter: grayscale(100%);
      opacity: 0.05;
    }
  }
  
  &__layout {
    position: relative;
    border: 1px solid $dark-blue-1;
  }

  &__payout {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    transform: rotate(-65deg);
    font-weight: bold;
    text-align: center;
    cursor: default;
  }
}