.BigButton {
  padding: 18px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: rgb(33, 114, 229);
  color: white;

  &[disabled] {
    background-color: rgb(64, 68, 79);
    color: rgb(108, 114, 132);
    cursor: auto;
    box-shadow: none;
    border: 1px solid transparent;
    outline: none;
    opacity: 1;
  }
}
$loader-border: .22em;
$loader-size: 2em;
$loader-color-background: rgba(255, 255, 255, 0.2);
// $loader-color-background: rgba(21, 61, 111, 0.44);
// $loader-color: #fff;
$loader-color: #2172e5;

.loader,
.loader:after {
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: $loader-border solid $loader-color-background;
  border-right: $loader-border solid $loader-color-background;
  border-bottom: $loader-border solid $loader-color-background;
  border-left: $loader-border solid $loader-color;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
