@import '../variables';

@keyframes shake {
  0% {
    margin-left: -10px;
  }
  50% {
    margin-left: 10px;
  }
  100% {
    margin-left: 0;
  }
}

.Dialog {
  color: white;
  .react-responsive-modal-modal {
    border-radius: 20px;
    background-color: $dark-blue-3;
    box-shadow: 4px 4px 7px rgba(black, 0.4);
  }

  .react-responsive-modal-closeButton {
    fill: rgb(207, 207, 207);
    &:hover {
      fill: white;
    }
    &:focus {
      outline: none;
    }
  }

  &--shake {
    animation: shake 0.1s linear 3;
  }
}