@import '../variables';

.Dialog {
  color: white;
  .react-responsive-modal-modal {
    border-radius: 20px;
    background-color: $dark-blue-3;
    box-shadow: 4px 4px 7px rgba(black, 0.4);
  }

  .react-responsive-modal-closeButton {
    fill: rgb(207, 207, 207);
    &:hover {
      fill: white;
    }
    &:focus {
      outline: none;
    }
  }
}