@import '../variables';

.Message {
  border-radius: 12px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border: 1px solid $dark-blue-1;
  padding: 1rem;
  
  &--error {
    color: $red-2;
    border: 1px solid $red-2;
  
  }

  &--info {
    border: 1px solid $blue-1;
  }

  &--warning {
    background-color: rgba($orange-1, 0.2);
    color: $orange-1;
    border: 0;

    a {
      text-decoration: none;
      color: white;
    }
  }
}