@import '../variables';

.PoolPage {

  .LiquidityBlock {
    background-color: $dark-blue-1;
    border-radius: $border-radius;
    padding: 1em;
    color: white;
    font-size: 1rem;
    width: fit-content;
    font-weight: 500;
    max-width: 640px;
    width: 100%;

    &__container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    &__info-table {

    }
    &__info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    
      &:first-child {
        color: $blue-1;
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      button {
        font-size: 16px;
        font-weight: 500;
        padding: 8px;
        width: 48%;
        max-width: 228px;
        border-radius: 8px;
        border: 1px solid transparent;
        background-color: $blue-1;
        color: white;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.AddLiquidityDialog {
  width: 400px;

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
  }

  &__liquidity-share {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;

    &-value {
      color: $gray-1;
    }
  }
}