@import '../variables';

.Tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;

  &__tab {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    margin-right: 5px;

    &.selected {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}