@import '../variables';

.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  top: 0;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
  flex-flow: row nowrap;

  &__left-menu {
    display: flex;
  }

  &__logo {
    cursor: pointer;
    transition: transform 0.6s ease 0s;
    width: 32px;

    &:hover {
      transform: rotate(-180deg);
    }
  }

  &__menu {
    list-style-type: none;
    display: flex;
    padding-left: 30px;
    
    li {
      margin-right: 30px;
      cursor: pointer;

      color: $gray-1;
      &:hover {
        color: $gray-2;
      }
      &.active {
        border-radius: 12px;
        font-weight: 600;
        color: white;
      }
    }
  }

  .dai-mint-container {
    display: inline-flex;
    padding: 8px 12px;
  }

  .dai-mint-btn {
    display: inline-flex;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    background-color: rgba($orange-1, 0.05);
    color: $orange-1;
    font-weight: 500;
    border-radius: 12px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.25s ease-out;

    &:hover {
      background-color: rgba($orange-1, 0.1);
    }
  }
}