// COLORS
$blue-1: #2172e5;
$blue-2: #6da8ff;
$blue-3: #5399ff;
$red-1: #d81617;
$red-2: #fd4040;
$orange-1: #f3841e;
$green-1: #2e9933;
$green-2: #27ae60;
$dark-blue-1: #40444f;
$dark-blue-2: #2c2f36;
$dark-blue-3: #212429;
$gray-1: #c3c5cb;
$gray-2: #e6e6e6;
$gray-3: #757575;

$transparent-dark-1: rgba(21, 61, 111, 0.44);
$transparent-dark-2: rgba(49, 95, 154, 0.44);

// FONTS


// OTHER
$border-radius: 12px;